// //////////////////////////////////////////////
// FORMS
// //////////////////////////////////////////////

// buttons
// //////////////////////////////////////////////

.status-add
	position: relative
	display: inline-block
	padding: 5px
	text-align: right
	font-weight: 300
	+font(14px, 18px)
	color: rgba(#fff, .5)
	+transition(none)

	+hover
		color: rgba(#fff, 1)

.submit
	position: relative
	display: inline-block
	border: 0
	+font(14px, 18px)
	font-weight: 300
	background: $color-active
	padding: 10px 15px
	+border-radius(4px)
	color: #fff
	cursor: pointer
	+transition(all .3s ease-in-out)

	+hover
		background: $light-green

// fields
// //////////////////////////////////////////////

.field-wrap
	position: relative
	display: inline-block
	width: 100%

input[type="text"],
input[type="password"]
	vertical-align: top
	height: 40px
	width: 100%
	position: relative
	display: inline-block
	padding: 3px 3px 3px 3px
	background: transparent
	+border-radius(4px)

	&:last-child
		margin-bottom: 0

// panel content input fields

.panel-content
	input[type="text"],
	input[type="password"]
		padding: 3px 3px 3px 36px
		border: 1px solid $color-details
		color: $color-p
		margin-bottom: 15px
		max-width: 360px


// change avatar
// //////////////////////////////////////////////

.change-avatar
	position: relative
	display: block
	width: 100%
	text-align: center
	padding: 5px
	font-weight: 300
	+font(12px, 16px)
	color: $color-details
	border: 1px solid $color-details
	+border-radius(4px)

// checkbox switches
// //////////////////////////////////////////////

.switch-wrap
	position: relative
	display: block
	margin-bottom: 15px

.switch
	position: relative
	z-index: 3
	left: 11px
	height: 28px
	width: 60px
	padding: 0
	margin: 1px 0
	+opacity(0)
	cursor: pointer

	+hover
		right: 49px

input.switch:checked + .switch-status
	left: 41px

.switch-toggle
	position: absolute
	display: block
	width: 60px
	height: 30px
	margin: 0 10px
	+border-radius(50em)
	background: $light-green
	z-index: 1

.switch-status
	position: absolute
	display: block
	height: 28px
	width: 28px
	+border-radius(50em)
	background: #fff
	z-index: 2
	left: 11px
	top: 1px

.switch-label
	position: relative
	vertical-align: top
	color: $color-p

	+mq(desk)
		top: 3px

// checkbox radio
// //////////////////////////////////////////////

.radio-wrap
	position: relative
	display: block
	margin-bottom: 15px

.radio
	position: relative
	z-index: 3
	left: 11px
	height: 30px
	width: 30px
	padding: 0
	margin: 1px 0
	+opacity(0)
	cursor: pointer

	+hover
		right: 49px

input.radio:checked + .radio-status
	display: block

.radio-toggle
	position: absolute
	display: block
	width: 30px
	height: 30px
	margin: 0 10px
	+border-radius(50em)
	background: #fff
	border: 1px solid $color-borders
	z-index: 1

.radio-status
	position: absolute
	display: none
	height: 22px
	width: 22px
	+border-radius(50em)
	background: $light-green
	z-index: 2
	left: 14px
	top: 4px

.radio-label
	position: relative
	vertical-align: top
	color: $color-p

	+mq(desk)
		top: 3px