// //////////////////////////////////////////////
// TYPOGRAPHY
// //////////////////////////////////////////////

// -- Site typography

// font family
// //////////////////////////////////////////////

@font-face
	font-family: 'proximanova'
	src: url('../../assets/fonts/proxima-nova/ProximaNovaCond-Regular-webfont.eot')
	src: url('../../assets/fonts/proxima-nova/ProximaNovaCond-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../../assets/fonts/proxima-nova/ProximaNovaCond-Regular-webfont.woff2') format('woff2'), url('../../assets/fonts/proxima-nova/ProximaNovaCond-Regular-webfont.woff') format('woff'), url('../../assets/fonts/proxima-nova/ProximaNovaCond-Regular-webfont.ttf') format('truetype'), url('../../assets/fonts/proxima-nova/ProximaNovaCond-Regular-webfont.svg#proximanova') format('svg')
	font-weight: normal
	font-style: normal

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale

=proxima-nova
	font-family: 'proximanova', sans-serif

=open-sans
	font-family: 'Open Sans', sans-serif

.logo
	position: relative
	display: inline-block
	padding: 21px 25px 21px 66px
	margin: 0
	background: url(../../assets/img/icons/logo.png) no-repeat 25px center
	+proxima-nova
	color: $color-logo
	+font(19px, 18px)
	font-weight: normal

	.accent
		color: $color-logo-accent

// headings
// //////////////////////////////////////////////

h1,
h2,
h3,
h4,
h5,
h6
	margin-top: 0
	margin-bottom: $bsu

// paragraphs
// //////////////////////////////////////////////

p
	margin: 0 0 $bsu 0
	+font(15px, 25px)
	color: $color-p

a
	color: $color-details
	text-decoration: none
	+transition(color .3s ease-in-out)

	+hover
		color: $color-active