@-moz-keyframes blink {
  0% {
    background: transparent;
  }
  50% {
    background: #fff;
  }
}
@-webkit-keyframes blink {
  0% {
    background: transparent;
  }
  50% {
    background: #fff;
  }
}
@keyframes blink {
  0% {
    background: transparent;
  }
  50% {
    background: #fff;
  }
}
@-moz-keyframes fade-in {
  0% {
    display: block;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-in {
  0% {
    display: block;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    display: block;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes slide-in {
  0% {
    display: block;
    opacity: 0;
    -moz-transform: translateY(-1000px);
    transform: translateY(-1000px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes slide-in {
  0% {
    display: block;
    opacity: 0;
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slide-in {
  0% {
    display: block;
    opacity: 0;
    -moz-transform: translateY(-1000px);
    -ms-transform: translateY(-1000px);
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-moz-keyframes slide-in-subtle {
  0% {
    display: block;
    opacity: 0;
    -moz-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes slide-in-subtle {
  0% {
    display: block;
    opacity: 0;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slide-in-subtle {
  0% {
    display: block;
    opacity: 0;
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@font-face {
  font-family: "proximanova";
  src: url("../../assets/fonts/proxima-nova/ProximaNovaCond-Regular-webfont.eot");
  src: url("../../assets/fonts/proxima-nova/ProximaNovaCond-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/proxima-nova/ProximaNovaCond-Regular-webfont.woff2") format("woff2"), url("../../assets/fonts/proxima-nova/ProximaNovaCond-Regular-webfont.woff") format("woff"), url("../../assets/fonts/proxima-nova/ProximaNovaCond-Regular-webfont.ttf") format("truetype"), url("../../assets/fonts/proxima-nova/ProximaNovaCond-Regular-webfont.svg#proximanova") format("svg");
  font-weight: normal;
  font-style: normal;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.logo {
  position: relative;
  display: inline-block;
  padding: 21px 25px 21px 66px;
  margin: 0;
  background: url(../../assets/img/icons/logo.png) no-repeat 25px center;
  font-family: "proximanova", sans-serif;
  color: #70767f;
  font-size: 19px;
  line-height: 18px;
  font-weight: normal;
}
.logo .accent {
  color: #bec3cc;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 25px;
  font-weight: 400;
  color: #303d4f;
}

.section-title {
  color: #b3b6bd;
  text-transform: uppercase;
}

p {
  margin: 0 0 25px 0;
  font-size: 15px;
  line-height: 25px;
  color: #70767f;
}

a {
  color: #bec3cc;
  text-decoration: none;
  -moz-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
a:hover, a:focus {
  color: #00cc99;
}

label {
  position: relative;
  display: block;
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 18px;
  color: #70767f;
}

.status-add {
  position: relative;
  display: inline-block;
  padding: 5px;
  text-align: right;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: rgba(255, 255, 255, 0.5);
  -moz-transition: none;
  -o-transition: none;
  -webkit-transition: none;
  transition: none;
}
.status-add:hover, .status-add:focus {
  color: white;
}

.submit {
  position: relative;
  display: inline-block;
  border: 0;
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
  background: #00cc99;
  padding: 10px 15px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.submit:hover, .submit:focus {
  background: #00b286;
}

.field-wrap {
  position: relative;
  display: inline-block;
  width: 100%;
}

input[type="text"],
input[type="password"] {
  vertical-align: top;
  height: 40px;
  width: 100%;
  position: relative;
  display: inline-block;
  padding: 0 3px;
  background: transparent;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
input[type="text"]:last-child,
input[type="password"]:last-child {
  margin-bottom: 0;
}
input[type="text"]:focus,
input[type="password"]:focus {
  color: #00cc99 !important;
  border: 1px solid #00cc99 !important;
  outline: 0;
}

.panel-content input[type="text"],
.panel-content input[type="password"] {
  padding: 3px 3px 3px 36px;
  border: 1px solid #bec3cc;
  color: #70767f;
  margin-bottom: 15px;
  max-width: 360px;
  font-size: 16px;
  line-height: 30px;
}

.change-avatar {
  position: relative;
  display: block;
  width: 100%;
  text-align: center;
  padding: 5px;
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  color: #bec3cc;
  border: 1px solid #bec3cc;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.switch-wrap {
  position: relative;
  display: block;
  margin-bottom: 15px;
}

.switch {
  position: relative;
  z-index: 3;
  left: 11px;
  height: 28px;
  width: 60px;
  padding: 0;
  margin: 1px 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  cursor: pointer;
}
.switch:hover, .switch:focus {
  right: 49px;
}

input.switch:checked + .switch-toggle {
  background: #00b286;
}
input.switch:checked + .switch-toggle:after {
  -moz-transform: translateX(25px);
  -ms-transform: translateX(25px);
  -webkit-transform: translateX(25px);
  transform: translateX(25px);
}

.switch-toggle {
  position: absolute;
  display: block;
  top: 0;
  width: 50px;
  height: 25px;
  margin: 0 10px;
  -moz-border-radius: 50em;
  -webkit-border-radius: 50em;
  border-radius: 50em;
  background: #dee1e5;
  z-index: 1;
}
.switch-toggle:after {
  position: absolute;
  display: block;
  height: 23px;
  width: 23px;
  -moz-border-radius: 50em;
  -webkit-border-radius: 50em;
  border-radius: 50em;
  background: #fff;
  z-index: 2;
  left: 1px;
  top: 1px;
  -moz-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
  content: "";
}

.switch-label {
  position: relative;
  vertical-align: top;
  color: #70767f;
}
@media screen and (min-width: 1226px) {
  .switch-label {
    top: 3px;
  }
}

.radio-wrap {
  position: relative;
  display: block;
  margin-bottom: 15px;
}

.radio {
  position: relative;
  z-index: 3;
  left: 11px;
  height: 30px;
  width: 30px;
  padding: 0;
  margin: 1px 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  cursor: pointer;
}
.radio:hover, .radio:focus {
  right: 49px;
}

input.radio:checked + .radio-toggle:after {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

.radio-toggle {
  position: absolute;
  display: block;
  top: 0;
  width: 23px;
  height: 23px;
  margin: 0 10px;
  -moz-border-radius: 50em;
  -webkit-border-radius: 50em;
  border-radius: 50em;
  background: #fff;
  border: 1px solid #dee1e5;
  z-index: 1;
}
.radio-toggle:after {
  position: absolute;
  display: block;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  height: 15px;
  width: 15px;
  -moz-border-radius: 50em;
  -webkit-border-radius: 50em;
  border-radius: 50em;
  background: #00b286;
  z-index: 2;
  left: 3px;
  top: 3px;
  -moz-transition: opacity 0.15s ease-in-out;
  -o-transition: opacity 0.15s ease-in-out;
  -webkit-transition: opacity 0.15s ease-in-out;
  transition: opacity 0.15s ease-in-out;
  content: "";
}

.radio-label {
  position: relative;
  vertical-align: top;
  color: #70767f;
}
@media screen and (min-width: 1226px) {
  .radio-label {
    top: 3px;
  }
}

textarea {
  position: relative;
  display: block;
  width: 100%;
  min-height: 90px;
  padding: 5px;
  margin-bottom: 15px;
  border: 0;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  font-size: 14px;
  line-height: 18px;
  color: #70767f;
}

.group-icons {
  position: absolute;
  display: block;
  width: 102px;
  height: 24px;
  right: 0;
  top: 0;
}
.group-icons:before, .group-icons:after {
  content: " ";
  display: table;
}
.group-icons:after {
  clear: both;
}

[class*="icon-"] {
  position: relative;
  display: inline-block;
  margin-right: 9px;
  width: 25px;
  height: 25px;
  background-image: url("../../assets/img/icons/sprite-icons.png");
  cursor: pointer;
}
[class*="icon-"].last {
  margin-right: 0;
}

label[class*="icon-"] {
  position: absolute;
  top: 8px;
  left: 8px;
  text-indent: -9999px;
}

.icon-photo {
  top: 6px;
  background-position: -12px -12px;
  background-repeat: no-repeat;
}

.add-photo:hover .icon-photo {
  background-position: -12px -60px;
  background-repeat: no-repeat;
}

.icon-photo-message {
  top: 6px;
  background-position: -492px -12px;
  background-repeat: no-repeat;
}

.add-photo-message {
  color: #70767f;
}
.add-photo-message:hover, .add-photo-message:focus {
  color: #00cc99;
}
.add-photo-message:hover .icon-photo-message, .add-photo-message:focus .icon-photo-message {
  background-position: -492px -60px;
  background-repeat: no-repeat;
}

.icon-video {
  top: 6px;
  background-position: -60px -12px;
  background-repeat: no-repeat;
}

.add-video:hover .icon-video {
  background-position: -60px -60px;
  background-repeat: no-repeat;
}

.icon-video-message {
  top: 6px;
  background-position: -540px -12px;
  background-repeat: no-repeat;
}

.add-video-message {
  color: #70767f;
}
.add-video-message:hover, .add-video-message:focus {
  color: #00cc99;
}
.add-video-message:hover .icon-video-message, .add-video-message:focus .icon-video-message {
  background-position: -540px -60px;
  background-repeat: no-repeat;
}

.icon-reply {
  background-position: -204px -12px;
  background-repeat: no-repeat;
}
.icon-reply:hover, .icon-reply:focus {
  background-position: -204px -60px;
  background-repeat: no-repeat;
}

.icon-like {
  background-position: -252px -12px;
  background-repeat: no-repeat;
}
.icon-like:hover, .icon-like:focus {
  background-position: -252px -60px;
  background-repeat: no-repeat;
}

.icon-more {
  background-position: -300px -12px;
  background-repeat: no-repeat;
}
.icon-more:hover, .icon-more:focus {
  background-position: -300px -60px;
  background-repeat: no-repeat;
}

.icon-list {
  margin-right: 0;
  background-position: -108px -12px;
  background-repeat: no-repeat;
}
.icon-list:hover, .icon-list:focus {
  background-position: -108px -60px;
  background-repeat: no-repeat;
}
.icon-list.active {
  background-position: -108px -60px;
  background-repeat: no-repeat;
}

.icon-grid {
  background-position: -156px -12px;
  background-repeat: no-repeat;
}
.icon-grid:hover, .icon-grid:focus {
  background-position: -156px -60px;
  background-repeat: no-repeat;
}
.icon-grid.active {
  background-position: -156px -60px;
  background-repeat: no-repeat;
}

.icon-search {
  background-position: -348px -12px;
  background-repeat: no-repeat;
}
.icon-search:hover, .icon-search:focus {
  background-position: -348px -60px;
  background-repeat: no-repeat;
}
.icon-search.active {
  background-position: -348px -60px;
  background-repeat: no-repeat;
}

.icon-new-message {
  width: 31px !important;
  height: 26px !important;
  background-position: -396px -12px;
  background-repeat: no-repeat;
  background-position: -392px -11px;
  margin-right: 0;
}
.icon-new-message:hover, .icon-new-message:focus {
  background-position: -396px -60px;
  background-repeat: no-repeat;
  background-position: -392px -59px;
}
.icon-new-message.active {
  background-position: -396px -60px;
  background-repeat: no-repeat;
  background-position: -392px -59px;
}

.icon-close {
  background-position: -444px -12px;
  background-repeat: no-repeat;
}
.icon-close:hover, .icon-close:focus {
  background-position: -444px -60px;
  background-repeat: no-repeat;
}

.icon-user {
  background-position: -588px -12px;
  background-repeat: no-repeat;
}
.icon-user:hover, .icon-user:focus {
  background-position: -588px -60px;
  background-repeat: no-repeat;
}

.icon-email {
  background-position: -636px -12px;
  background-repeat: no-repeat;
}
.icon-email:hover, .icon-email:focus {
  background-position: -636px -60px;
  background-repeat: no-repeat;
}

.icon-lock {
  background-position: -684px -12px;
  background-repeat: no-repeat;
}
.icon-lock:hover, .icon-lock:focus {
  background-position: -684px -60px;
  background-repeat: no-repeat;
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  -webkit-overflow-scrolling: touch;
}

body {
  padding-top: 60px;
}

.grid {
  width: 100%;
}
.grid:before, .grid:after {
  content: " ";
  display: table;
}
.grid:after {
  clear: both;
}
@media screen and (min-width: 1226px) {
  .grid {
    margin-left: -25px;
  }
}

.grid-item {
  width: 100%;
  float: left;
}
@media screen and (min-width: 1226px) {
  .grid-item {
    padding-left: 25px;
  }
}

@media screen and (min-width: 1226px) {
  .desk-one-third {
    width: 33.33333%;
  }
}

.padded {
  padding: 25px;
}

.padded-sides {
  padding: 0 25px;
}

.padded-end {
  padding: 25px 0;
}

.va-wrap {
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
}
.va-wrap.hero {
  height: 425px;
}

.va-item {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
}
.va-item.top {
  vertical-align: top;
}
.va-item.middle {
  vertical-align: middle;
}
.va-item.bottom {
  vertical-align: bottom;
}

.panel-top {
  position: fixed;
  display: block;
  z-index: 3;
  top: 0;
  width: 100%;
  height: 60px;
  background: #262728;
}

.panel-hero {
  position: relative;
  display: block;
  width: 100%;
  min-height: 425px;
  background: url(../../assets/img/hero-bg.jpg) no-repeat center center;
  background-size: cover;
}

.panel-content {
  position: relative;
  display: block;
  width: 100%;
  padding: 25px 0 85px 0;
  -moz-animation: slide-in-subtle 0.4s linear 1;
  -webkit-animation: slide-in-subtle 0.4s linear 1;
  animation: slide-in-subtle 0.4s linear 1;
}

.section-small {
  position: relative;
  display: block;
  width: 100%;
  max-width: 626px;
  margin: 0 auto;
}

.section-medium {
  position: relative;
  display: block;
  width: 100%;
  max-width: 1226px;
  margin: 0 auto;
}

.section-large {
  position: relative;
  display: block;
  width: 100%;
  max-width: 1352px;
  margin: 0 auto;
}

.modal {
  position: fixed;
  display: none;
  width: 100%;
  min-height: 100%;
  top: 0;
  z-index: -1;
  background: rgba(0, 0, 0, 0.5);
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.modal.active {
  display: block;
  z-index: 995;
  -moz-animation: fade-in 0.2s ease-in-out 1;
  -webkit-animation: fade-in 0.2s ease-in-out 1;
  animation: fade-in 0.2s ease-in-out 1;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.modal-block {
  position: absolute;
  display: none;
  z-index: -1;
  width: 100%;
  max-width: 626px;
  top: 90px;
  left: 0;
  padding: 25px 25px 0 25px;
  margin: 0;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media screen and (min-width: 841px) {
  .modal-block {
    top: 160px;
    left: 50%;
    margin: 0 0 0 -313px;
  }
}
.modal-block .icon-close {
  position: absolute;
  right: 25px;
  top: -5px;
  margin: 0;
}
@media screen and (min-width: 841px) {
  .modal-block .icon-close {
    right: 0;
    top: 0;
  }
}
.modal-block.active {
  display: block;
  z-index: 997;
  -moz-animation: slide-in 0.4s ease-in-out 1;
  -webkit-animation: slide-in 0.4s ease-in-out 1;
  animation: slide-in 0.4s ease-in-out 1;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.block {
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
  background: #fff;
  border: 1px solid #dee1e5;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin-bottom: 25px;
}
.block p:last-child {
  margin-bottom: 0 !important;
}
.block.bottom-border {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid #dee1e5;
  padding-bottom: 50px;
  margin-bottom: 50px;
}

.block-padding {
  position: relative;
  display: block;
  width: 100%;
  padding: 25px;
}
.block-padding.comment {
  border-top: 1px solid #dee1e5;
  background: #f9fafb;
}

.user-name {
  position: relative;
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 18px;
}

.post-img {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
}

.post-time {
  position: relative;
  display: block;
  color: #bec3cc;
  font-size: 13px;
  line-height: 18px;
}

.block.user-status {
  background: rgba(0, 178, 134, 0.7);
  border: 0;
  margin-bottom: 0;
}

input[type="text"].status {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 20px;
  border: 0;
  font-size: 16px;
  line-height: 30px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.5);
  background: transparent;
}
@media screen and (min-width: 841px) {
  input[type="text"].status {
    font-size: 30px;
    line-height: 18px;
  }
}
input[type="text"].status::-webkit-input-placeholder {
  padding-top: 0;
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  line-height: 30px;
}
@media screen and (min-width: 841px) {
  input[type="text"].status::-webkit-input-placeholder {
    padding-top: 12px;
    font-size: 30px;
    line-height: 18px;
  }
}
input[type="text"].status:-moz-placeholder {
  padding-top: 0;
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  line-height: 30px;
}
@media screen and (min-width: 841px) {
  input[type="text"].status:-moz-placeholder {
    padding-top: 12px;
    font-size: 30px;
    line-height: 18px;
  }
}
input[type="text"].status::-moz-placeholder {
  padding-top: 0;
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  line-height: 30px;
}
@media screen and (min-width: 841px) {
  input[type="text"].status::-moz-placeholder {
    padding-top: 12px;
    font-size: 30px;
    line-height: 18px;
  }
}
input[type="text"].status:-ms-input-placeholder {
  padding-top: 0;
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  line-height: 30px;
}
@media screen and (min-width: 841px) {
  input[type="text"].status:-ms-input-placeholder {
    padding-top: 12px;
    font-size: 30px;
    line-height: 18px;
  }
}
input[type="text"].status:focus {
  color: white !important;
  border: 0 !important;
}

.status:focus + .cursor {
  display: none;
}

.cursor {
  position: absolute;
  display: block;
  width: 2px;
  height: 41px;
  top: 26px;
  background: #fff;
  -moz-animation: 1s blink step-end infinite;
  -webkit-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

.block.new-message {
  background: #dee1e5;
}
.block.new-message:before, .block.new-message:after {
  content: " ";
  display: table;
}
.block.new-message:after {
  clear: both;
}
.block.new-message .submit {
  position: relative;
  display: block;
  width: 100%;
  margin-top: 15px;
}
@media screen and (min-width: 1226px) {
  .block.new-message .submit {
    position: absolute;
    display: inline-block;
    bottom: 25px;
    right: 25px;
    width: auto;
    margin-top: 0;
  }
}

.flag {
  position: relative;
  display: table;
  width: 100%;
  margin-bottom: 15px;
}

.flag-media,
.flag-content {
  position: relative;
  display: table-cell;
  vertical-align: top;
}

.flag-content {
  width: 100%;
}
.flag-content.right {
  padding-left: 15px;
}
.flag-content.right-double {
  padding-left: 30px;
}
.flag-content.left {
  padding-right: 15px;
}

.top-actions {
  position: relative;
  display: block;
  float: right;
  width: 115px;
  padding: 15px 0;
}
@media screen and (min-width: 1226px) {
  .top-actions {
    width: 335px;
  }
}
.top-actions .icon-search {
  position: absolute;
  display: none;
  right: 86px;
  top: 17px;
}
@media screen and (min-width: 1226px) {
  .top-actions .icon-search {
    display: inline-block;
  }
}
.top-actions .icon-new-message {
  margin-right: 10px;
}

.drop-down-trigger {
  position: relative;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
}

.user-avatar--x-small {
  vertical-align: top;
  cursor: pointer;
}

.drop-down-arrow {
  vertical-align: top;
  display: inline-block;
  position: relative;
  padding-right: 20px;
}
.drop-down-arrow:after {
  position: relative;
  display: inline-block;
  border-top: 5px solid #4b4f54;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 0;
  content: "";
}

.drop-down {
  position: absolute;
  display: none;
  top: 55px;
  right: 22px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background: #f4f5f7;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.drop-down li:last-child .drop-down-item {
  border-bottom: 0;
}
.drop-down:before {
  position: absolute;
  display: block;
  top: -5px;
  right: 5px;
  border-bottom: 5px solid #f4f5f7;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-top: 0;
  content: "";
}
.drop-down.active {
  display: block;
  -moz-animation: slide-in-subtle 0.2s ease-in-out;
  -webkit-animation: slide-in-subtle 0.2s ease-in-out;
  animation: slide-in-subtle 0.2s ease-in-out;
}

.drop-down-item {
  position: relative;
  display: block;
  padding: 0 15px;
  font-size: 12px;
  line-height: 30px;
  color: #70767f;
  border-bottom: 1px solid #dee1e5;
}

.search {
  position: relative;
  display: none !important;
  height: 30px !important;
  width: 100%;
  max-width: 200px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin-right: 15px;
  padding: 3px 36px 3px 3px;
  border: 1px solid #44474b;
  background: transparent;
  color: #fff;
}
@media screen and (min-width: 1226px) {
  .search {
    display: inline-block !important;
  }
}

.content-filters {
  position: absolute;
  display: block;
  width: 100%;
  margin: 0;
  padding: 0 15px;
  bottom: 0;
}
.content-filters li {
  position: relative;
  display: inline-block;
  list-style-type: none;
  margin-right: 15px;
}
.content-filters li:last-child {
  margin-right: 0;
}

.content-filter {
  position: relative;
  display: inline-block;
  padding: 25px 5px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  font-size: 12px;
  line-height: 18px;
}
.content-filter.active {
  -moz-box-shadow: inset 0 -5px 0 #00cc99;
  -webkit-box-shadow: inset 0 -5px 0 #00cc99;
  box-shadow: inset 0 -5px 0 #00cc99;
}
.content-filter:hover, .content-filter:focus {
  -moz-box-shadow: inset 0 -5px 0 #00cc99;
  -webkit-box-shadow: inset 0 -5px 0 #00cc99;
  box-shadow: inset 0 -5px 0 #00cc99;
}

.layout-filter {
  position: absolute;
  display: block;
  width: 73px;
  height: 25px;
  bottom: 25px;
  right: 0;
}

.view-display {
  display: none;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.view-display.active {
  display: block;
  -moz-animation: slide-in-subtle 0.4s linear;
  -webkit-animation: slide-in-subtle 0.4s linear;
  animation: slide-in-subtle 0.4s linear;
}
