// //////////////////////////////////////////////
// BLOCK - USER STATUS
// //////////////////////////////////////////////

.block.user-status
	background: rgba(#00b286, .7)
	border: 0
	margin-bottom: 0

input[type="text"].status
	position: relative
	display: block
	width: 100%
	margin-bottom: 20px
	border: 0
	+font(16px, 30px)
	+open-sans
	font-weight: 300
	color: rgba(#fff, .5)
	background: transparent

	+mq(lap)
		+font(30px, 18px)

	&::-webkit-input-placeholder
		padding-top: 0
		color: rgba(#fff, .5)
		+font(16px, 30px)

		+mq(lap)
			padding-top: 12px
			+font(30px, 18px)

	&:-moz-placeholder
		padding-top: 0
		color: rgba(#fff, .5)
		+font(16px, 30px)

		+mq(lap)
			+font(30px, 18px)

	&::-moz-placeholder
		padding-top: 0
		color: rgba(#fff, .5)
		+font(16px, 30px)

		+mq(lap)
			+font(30px, 18px)

	&:-ms-input-placeholder
		padding-top: 0
		color: rgba(#fff, .5)
		+font(16px, 30px)

		+mq(lap)
			padding-top: 12px
			+font(30px, 18px)


	&:focus
		color: rgba(#fff, 1) !important
		border: 0 !important

.status:focus + .cursor
	display: none

// blinking cursor
// //////////////////////////////////////////////

.cursor
	position: absolute
	display: block
	width: 2px
	height: 41px
	top: 26px
	background: #fff
	+animation(1s blink step-end infinite)