// //////////////////////////////////////////////
// BLOCK
// //////////////////////////////////////////////

// -- Main block for the content stream.

.block
	position: relative
	display: block
	width: 100%
	overflow: hidden
	background: #fff
	border: 1px solid $color-borders
	+border-radius(4px)
	margin-bottom: 25px

	p:last-child
		margin-bottom: 0 !important

	&.status-update
		background: rgba(#00b286, .7)
		border: 0

.block-padding
	position: relative
	display: block
	width: 100%
	padding: $bsu

.user-title
	position: relative
	display: block
	margin-bottom: 10px
	+font(16px, 18px)

.post-img
	position: relative
	display: block
	width: 100%
	height: auto