// //////////////////////////////////////////////
// BLOCK - USER STATUS
// //////////////////////////////////////////////

.block.user-status
	background: rgba(#00b286, .7)
	border: 0
	margin-bottom: 0

input[type="text"].status
	position: relative
	display: block
	z-index: 2
	width: 100%
	margin-bottom: 20px
	border: 0
	+font(16px, 30px)
	+open-sans
	font-weight: 300
	color: rgba(#fff, .5)
	background: transparent

	+mq(lap)
		+font(30px, 18px)

	&:focus
		color: rgba(#fff, 1) !important
		border: 0 !important

// typed
// //////////////////////////////////////////////

.typed-wrapper
	position: absolute
	display: block
	z-index: 1
	width: 100%
	top: 36px
	left: 28px

.typed-status
	+font(16px, 30px)
	+open-sans
	font-weight: 300
	color: rgba(#fff, .5)

	+mq(lap)
		+font(30px, 18px)

.typed-cursor
	+animation(1.5s blink infinite)
	+font(16px, 30px)
	color: #fff

	+mq(lap)
		+font(30px, 18px)